<div class="card">
  <div id='gastoTarjeta' class="card-body">
  <h2>Nuevo registro:</h2>
    <form (submit)='addGasto(newType,newName, newPrice,newCategory, newDate)'>
      <div class="form-group">
        <label for="type"><b>Tipo de registro:</b></label>
      <select class='form-control' name="newType"  #newType>
        <option [value]="type" *ngFor="let type of types">{{type}}</option>
      </select>
      </div>
      <div class="form-group">
        <input type="text" class='form-control' placeholder="Nombre" #newName>
      </div>
      <div class="form-group">
        <input type="number" class='form-control' placeholder="Monto" #newPrice>
      </div>
      <div class="form-group">
        <label for="type"><b>Categoría:</b></label>
      <select class='form-control' name="newCategory"  #newCategory>
        <option [value]="category.name" *ngFor="let category of categorias">{{category.name}}</option>
      </select>
      </div>
      <div class="form-group">
      <label for="date"><b>Mes del registro:</b></label>
        <select class='form-control' name="newDate"  #newDate>
          <option [value]="date" *ngFor="let date of dates">{{date}}</option>
        </select>
      </div>      
      <button  type='submit' class ='btn btn-primary'  >
        Guardar
      </button>
    </form>
  </div>
</div>