<div class="card">
  <div class="card-body">
    <form (submit)='addGasto(newType,newName, newPrice,newCategory, newDate)'>
      <div class="form-group">
        <label for="type">Tip de registro:</label>
      <select class='form-control' name="newType"  #newType>
        <option [value]="type" *ngFor="let type of types">{{type}}</option>
      </select>
      </div>
      <div class="form-group">
        <input type="text" class='form-control' placeholder="Nombre" #newName>
      </div>
      <div class="form-group">
        <input type="number" class='form-control' placeholder="Monto" #newPrice>
      </div>
      <div class="form-group">
        <input type="text" class='form-control' placeholder="Categoría" #newCategory>
      </div>
      <div class="form-group">
      <label for="date">Mes del registro:</label>
        <select class='form-control' name="newDate"  #newDate>
          <option [value]="date" *ngFor="let date of dates">{{date}}</option>
        </select>
      </div>      
      <button type='submit' class ='btn btn-primary'>
        Guardar
      </button>
    </form>
  </div>
</div>