

<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <p><b>{{ balance.mes }}</b></p>
        <div>
            <button class="btn btn-primary" (click)="balance.hide = !balance.hide " >
               Detalles
            </button>
        </div>
    </div>
    <div class="card-body" [hidden]="balance.hide">
        <p><b>Gasto:</b> {{balance.gasto | currency }}</p>
        <p><b>Ingreso: </b> {{balance.ingreso | currency}}</p>
        <h4  [ngStyle]="{'background-color': (balance.total > 0) ? '#73c7af' : '#ff3333'}"><b>BALANCE FINAL:  {{balance.total | currency }}</b></h4>
    </div>
</div>

        
