p {
  font-family: "Lucida Console", Courier, monospace;
}

#gastoTarjeta{
  font-family: "Lucida Console", Courier, monospace;
  background-color: rgb(170, 202, 202);

}

input {
  
    font-family: "Lucida Console", Courier, monospace;
    
  
  
}