

<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center"
    [ngStyle]="{'background-color': (gasto.type==='Ingreso') ? '#73c7af' : '#dc143c'}">
        <p><b>{{ gasto.name }}</b></p>
        <div>
            <button class="btn btn-primary" (click)="gasto.hide = !gasto.hide " >
               Detalles
            </button>
        </div>
        <div>
          <button class="btn btn-warning" (click)="deleteGasto(gasto)" >
              Borrar
          </button>
      </div>
    </div>
    <div class="card-body" [hidden]="gasto.hide">
        <p><b>Tipo: </b> {{gasto.type}}</p>
        <p><b>Monto:</b> {{gasto.price | currency }}</p>
        <p><b>Categoría: </b> {{gasto.category}}</p>
        <p><b>Fecha: </b> {{gasto.date}}</p>
    </div>
</div>



