p {
  font-family: "Lucida Console", Courier, monospace;
}

#gastoTarjeta{
  font-family: "Lucida Console", Courier, monospace;

}

input {
  
    font-family: "Lucida Console", Courier, monospace;
    
  
  
}
/* 
.card-body{
  background-color:#ffc2b3 ;
} */